Flask
Flask-OAuthlib
Flask-Views
Flask-Script
Flask-MongoEngine
flask-login
flask-admin
git+https://github.com/jamescw/flask-mongorest.git
git+https://github.com/HCDX/ActvityInfoPython.git
gunicorn
cartodb
pandas
cleancat
mimerender
raven[flask]
requests
celery
redis
newrelic
DateTime