Flask
Flask-OAuthlib
Flask-Views
Flask-Script
Flask-MongoEngine
flask-login
flask-admin
git+https://github.com/jamescw/flask-mongorest.git
activityinfo-python==1.6.0
gunicorn
cartodb
pandas
cleancat
mimerender
raven[flask]
requests
celery
redis
newrelic
DateTime
