<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--Edit the title of the page-->
    <title>SpongeBase - A visualization of the Syria Crisis Response in Lebanon</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <![endif]-->
    <!--Switch between the different themes changing the stylesheet below - light-theme.css |dark-theme.css -->
    <link rel="stylesheet" href="../static/css/dark-theme.css">
    <link rel="stylesheet" href="../static/css/makeitresponsive.css">
    <link rel="stylesheet" href="../static/css/spongemap.css" />

</head>
<body>

<div class="map" id="map"></div>
    <div id="layer_selector" class="cartodb-infobox" style="position:relative; margin-left:2em;">
      <ul>
        <li data="all" class="selected">All Layers</li>
        <li data="1">Governorate</li>
        <li data="2">District</li>
        <li data="3">Cadastrals</li>
        <li data="4">Villages/Localities</li>
        <li data="5">Informal Settlements</li>
        <li data="6">Schools</li>
      </ul>
    </div>
<script type="infowindow/html" id="infowindow_template">
      <span> custom </span>
      <div class="cartodb-popup custom_infowindow">
        <a href="#close" class="cartodb-popup-close-button close">x</a>

         <div class="cartodb-popup-content-wrapper" >
           <div >
             <img style="width: 100%" src="http://data.unhcr.org/syrianrefugees/uploads/uploadssyria/images/documents/dt_syria_5904.jpg">
             <!-- content.data contains the field info -->
             <h4>{{content.data.p_code}}</h4>
             <iframe src="http://sandbox.raisunhcr.org/3W/ermap/test.html"></iframe>

           </div>
         </div>
         <div class="cartodb-popup-tip-container"></div>
      </div>
    </script>
<div class="sidepanel">
    <div class="wrapper">
        <div class="context subheader">
            <p>A joint UNHCR/UNICEF innovation project</p>
        </div>
        <h1>SpongeBase visualization</h1>
        <p>The number of Syrians registered as refugees in Lebanon after fleeing war in their country has surpassed one million. Refugees from Syria, now equal a quarter of Lebanon's resident population. Most of them live in poverty and depend on aid for survival.</p>

        <!--Copy and paste the div below for creating content blocks-->
        <h3>Description</h3>
        <p>This interactive map collates available information from different data sources and links them to a location whether a governorate,a district, a village or even a small camp. This visualization communicates in real-time with Activity Info, UNHCR's registration database and many other data sources.</p>

        <h3>Sources</h3>
        <p> <a href="http://data.unhcr.org/syrianrefugees/country.php?id=122">UNHCR Data Portal</a>  <a href="http://activityinfo.org">Activity Info</a> </p>

        <div class="context footer">
            <p>Visit the Inter-agency information sharing webportal <a href="http://data.unhcr.org/syrianrefugees/country.php?id=122">Here</a></p></p>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3.8"></script>
<script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
<!--Change the URL below in order to change the map that is being shown.
Go to your map in CartoDB, click on share, and copy the URL undert the API section
Check the cartodb.js documentation for more info
http://developers.cartodb.com/documentation/cartodb-js.html-->
<script>
    // create layer selector
    function createSelector(layer) {
        var sql = new cartodb.SQL({ user: 'unhcr' });

        var $options = $('#layer_selector li');
        $options.click(function (e) {
            // get the area of the selected layer
            var $li = $(e.target);
            var area = $li.attr('data');

            // deselect all and select the clicked one
            $options.removeClass('selected');
            $li.addClass('selected');

            // create query based on data from the layer
            var query = "select * from european_countries_e";

            if (area !== 'all') {
                query = "select * from european_countries_e where area > " + area;
            }

            // change the query in the layer to update the map
            layer.setSQL(query);
        });
    }



    function main() {
        var map = L.map('map', {
            zoomControl: false,
            center: [34,36.1],
            zoom: 9
        });

        // add a nice baselayer from Stamen
        //L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
        //    attribution: 'Stamen'
        //}).addTo(map);

        //map quest baselayer
        L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
            attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">'
         }).addTo(map);



        cartodb.createLayer(map, 'http://unhcr.cartodb.com/api/v2/viz/6d01148e-ebbe-11e3-8ccb-0e230854a1cb/viz.json').addTo(map)
                .on('done', function(layer) {
                    // get sublayer 0 and set the infowindow template
                    var sublayer = layer.getSubLayer(0);

                    sublayer.infowindow.set('template', $('#infowindow_template').html());
                }).on('error', function() {
                    console.log("some error occurred"); 
                }); 
    }

    window.onload = main;
</script>

</body>
</html>
